{% extends "base.html" %}
{% block content %}




    <!-- Offer Box Slider Section -->
<div id="offerBox" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for plant in plants %}
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
                <div class="d-flex">
                    <!-- Offer Box Image -->
                    <div class="box-image">
                        <img src="{{ plant.image_url }}" alt="{{ plant.plant_name }}" class="d-block w-100">
                    </div>

                    <!-- Offer Box Text -->
                    <div id="box-text">
                        <h3>{{ plant.plant_name }}</h3> <!-- Plant name -->
                        <p>{{ plant.facts }}</p> <!-- Plant facts -->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Carousel Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#offerBox" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#offerBox" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<br>
<div>
        <span>Plants</span>
        <div class="row">
            <!-- Product 1 -->
            <div class="col-md">
                <img class="thumbnail" src="/static/img/apple.jpg" alt="Apple">
                <div class="box-element product">
                    <h6><strong>Apple</strong></h6>
                    <hr>
                    <a class="btn btn-success" href='{% url "test" %}'>Check Disease</a>
                </div>
            </div>
    
            <!-- Product 2 -->
            <div class="col-md">
                <img class="thumbnail" src="/static/img/tomato.jpg" alt="Tomato">
                <div class="box-element product">
                    <h6><strong>Tomato</strong></h6>
                    <hr>
                    <a class="btn btn-success" href='{% url "test" %}'>Check Disease</a>
                </div>
            </div>
    
            <!-- Product 3 -->
            <div class="col-md">
                <img class="thumbnail" src="/static/img/corn.jpg" alt="Corn">
                <div class="box-element product">
                    <h6><strong>Corn</strong></h6>
                    <hr>
                    <a class="btn btn-success" href='{% url "test" %}'>Check Disease</a>
                </div>
            </div>
    
            <!-- Product 4 -->
            <div class="col-md">
                <img class="thumbnail" src="/static/img/grapes.jpg" alt="Grapes">
                <div class="box-element product">
                    <h6><strong>Grapes</strong></h6>
                    <hr>
                    <a class="btn btn-success" href='{% url "test" %}'>Check Disease</a>
                </div>
            </div>
        </div>
        <div>
            <span>About Us </span>
            <div class="row">
                <!-- Person q 1 -->
                <div class="col-md">
                    <img class="person" src="/static/aboutus/asmita timalsina.jpg" alt="Apple">
                    <div class="box-element p-intro">
                        <h6><strong>Ashmita Timalsina</strong></h6>
                        <hr>
                       <p>Student at Academia Int'l College | Data Science Enthusiasts</p>
                    </div>
                </div>
        
                <!-- Product 2 -->
                <div class="col-md">
                    <img class="person" src="/static/aboutus/anjal.jpg" alt="Tomato">
                    <div class="box-element p-intro">
                        <h6><strong>Anjal Ghimire</strong></h6>
                        <hr>
                        <p>Student at Academia Int'l College | Data Science Enthusiasts</p>
                    </div>
                </div>
        
                <!-- Product 3 -->
                <div class="col-md">
                    <img class="person" src="/static/aboutus/ruth.jpg" alt="Corn">
                    <div class="box-element p-intro">
                        <h6><strong>Ruth Ghising</strong></h6>
                        <hr>
                        <p>Student at Academia Int'l College | Python Developer</p>
                    </div>
                </div>
            </div>
    
   
 
{% endblock %}