
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/newStyle.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <title>home</title>
    
</head>
<body>
        <div class="container"> <!-- Centered Content -->

            <!-- Header Section -->
            <header>
                <div class="logo">AgroHub</div>
                <nav>
                    <ul class="nav-links">
                        <li class="items"><a href='{% url "home" %}'>Home</a></li>
                        <li class="items"> <a href="{% url 'agro_mart' %}">AgroMart</a> </li>
                        <li class="items"> <a href="{% url 'community' %}">Community</a></li>
                        <li class="items"><a href="{% url 'login' %}">Login</a></li>
                        <li class="items">  <a href="{% url 'profile' %}">Profile</a></li>  
                    </ul>
                    <div class="menu-toggle">&#9776;</div>
                </nav>
            </header>
    